#sup{
    margin: 2px 3px 4px ;
    background-color: rgb(179, 49, 34);
    height: 60px;
    width: 150px;
    border-radius: 20px;
    
}
#sin{
    margin: 2px 3px 4px ;
    background-color: rgb(179, 49, 34);
    height: 60px;
    width: 150px;
    border-radius: 20px;
}